*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
keystore.properties
local.properties

# Ignore lecture docs / materials, keep markdown documentation
/docs/*
!/docs/*.md
*.pdf
*.docx
*.doc
